<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button color="accent" [routerLink]="['/account']"><mat-icon>list</mat-icon></a>
  </div>
  <mat-card class="example-card">
    <form [formGroup]="accountForm" (ngSubmit)="onFormSubmit(accountForm)">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Id" formControlName="id"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!accountForm.get('id').valid && accountForm.get('id').touched">Please enter Account Id</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" formControlName="email"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!accountForm.get('email').valid && accountForm.get('email').touched">Please enter Account Email</span>
        </mat-error>
      </mat-form-field>
      <div class="button-row">
        <button type="submit" [disabled]="!accountForm.valid" mat-flat-button color="accent"><mat-icon>save</mat-icon></button>
      </div>
    </form>
  </mat-card>
</div>